body{
    margin-left: 3%;
    margin-right: 3%;
}


h1{
    font-weight: bold;
    font-family: Impact,Helvetica,sans-serif;
    font-variant: small-caps;
    letter-spacing: 1px;
}

#subtitle{
    font-weight:lighter;
    font-size: 70%
}

#zipsearch{
    color: #ff0077;
}

#sidebar{
    background-color: #F7DC58;
}

#pagetitle { 
    color:hsl(250,100%,25%);
    font-weight: bold;
    text-shadow: 2px 2px 3px lightgray;

}

ol{
    padding: 2%;
    margin-left: 6%;
    font-family: Tahoma;
    letter-spacing: 2px;
    font-weight: bold;
}


li #zipsearch{
    color: #ff0077;
}

ol > li > * {
  font-weight: normal;
}
